.search-textfield{
    position:absolute;
    top: -1px;
    z-index: 10000;
    left: 45px;
    right: 60px;
}
.search-button{
    position: absolute;
    top:2px;
    right:5px;
    z-index: 10000;
}